[Unit]
Description=IPFS Daemon
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/lib/ipfs
Environment="IPFS_PATH=/var/lib/ipfs"
ExecStart=/usr/local/bin/ipfs daemon --enable-gc
Restart=on-failure

[Install]
WantedBy=multi-user.target
